@import "./buttons.css";
@import "./videplayer.css";

body {
  background-color: #26b4bc;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
}
#d26syldxkp30ng.cloudfront.net .main-content {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.background-red {
  background-color: #ff5f53;
  flex: 1;
}

.background-blue {
  background-color: #00c4e3;
  flex: 1;
}

.pokeball {
  position: absolute;
  width: 40%;
  opacity: 0.8;
}

#pokeball-1 {
  transform: rotate(35deg);
  inset-block-start: -10%;
  inset-inline-start: -10%;
}

#pokeball-2 {
  width: 35%;
  transform: rotate(60deg);
  inset-block-end: -10%;
  inset-inline-end: -10%;
}
